* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content{
  height: 80vh;
  /* height: 100%; */
}
.register-page{
  height: 100vh;
}
.filters{
  box-shadow: 0 0 3px rgb(179, 176, 176);
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
  margin-left: 8px;
}

.filter-tab .ant-select-selector {
  width: 150px !important;
}